<html xmlns=http://www.w3.org/1999/xhtml xmlns:th=http://www.thymeleaf.org>
<head>
    <th:block th:include="templates/mainLayoutFragments.html :: meta"></th:block>
    <th:block th:include="templates/mainLayoutFragments.html :: css"></th:block>
</head>
<body>

<div class="mainLayout">
    <div th:replace="templates/mainLayoutFragments.html :: headerLogo"></div>
    <div th:replace="templates/mainLayoutFragments.html :: headerLogout"></div>

    <div id="content" class="content overviewContainer">
        <div class="page-title">
            Method not allowed
        </div>
        <br/>
        <br/>
        <br/>
        <div id="error">
            <h5>
                <div>
                    <i class="fas fa-exclamation-triangle warning"></i>&nbsp;
                    <span th:utext="${error}" th:remove="tag"></span>
                </div>
                <div style="padding: 40px 0 0 0">
                    <a th:href="@{/web/home}" class="btn btn-back">
                        <i class="fa fa-arrow-left" aria-hidden="true"></i>
                        <span>Back to Home/Menu</span>
                    </a>
                </div>
            </h5>
        </div>
    </div>
</div>
<th:block th:include="templates/mainLayoutFragments.html :: js"></th:block>
</body>
</html>